*{
    margin:0;
    padding:0;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
label{
    margin-top: 10px;
  }

input{
    width:300px;
    height:30px;
}
#apiRes {
   background-color: aqua;
   height: 50px;
   width: 100px;
   border-radius: 5%;
   margin-top: 20px;
}
.container{
    padding: 10px;
    
    margin-top: 10px;
    border:2px solid black ;
}